body {
    background-image: url('/assets/img/background.jpg'); // image from: http://www.publicdomainpictures.net/view-image.php?image=21752
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    // overflow: hidden;
}

#page-container {
    padding-top: 3vh;
    max-height: 100vh;
}

#source {
    font-size: .8em;

    pre {
        display: inline;
    }

    .higlight {
        color: red;
    }
}

#tags {
    .chip {
        margin-right: 7px;
        margin-top: 3px;
        margin-bottom: 3px;
        cursor: pointer;
    }
}

.card-content {
    overflow: scroll;
}

.progress {
    display: none;
}
