body {
    background-image: url('/assets/img/background.jpg'); // image from: http://www.publicdomainpictures.net/view-image.php?image=21752
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#input-row {
    padding-top: 3vh;
    .btn {
        height: 100%;
    }
}
