// override colors
@import "../../../node_modules/materialize-css/sass/components/color";

$primary-color: color("deep-orange", "darken-1") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
$primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
$primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("light-blue", "accent-2") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: color("light-blue", "darken-1") !default;

@import "../../../node_modules/materialize-css/sass/materialize";

// background image
body {
    background-image: url('/assets/img/background.jpg'); // image from: http://www.publicdomainpictures.net/view-image.php?image=21752
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#page-container {
    padding-top: 5px;

    * {
        max-height: 100%;
    }

    .row {
        margin: 0;
    }

    #input-card {
        padding: 10px;
        display: flex;
        align-items: center;

        #url {
            margin: 0;
            padding-left: 10px;
            border: none;
            box-shadow: none;
        }

        #go {
            margin: 5px;
        }
    }

    #result-card {
        display: none;

        #preloader {
            margin-top: 15px;
        }

        #tags {
            max-height: 30vh;
            overflow: scroll;

            .chip {
                -webkit-user-select: none; /* Chrome/Safari */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* IE10+ */
                cursor: pointer;
                margin-right: 7px;
                margin-top: 3px;
                margin-bottom: 3px;
            }

            .selected {
                background-color: $primary-color;
                color: white;
            }
        }

        #divider {
            margin-top: 10px;
            border-bottom: solid 1px grey;
        }

        #source-container {
            font-size: .8em;
            max-height: 60vh;
            overflow: scroll;
        }
    }
}
